<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Epay Transactions Suite">
  <test name="LuckyScratch Transactions Test">
    <classes>
      <class name="com.epay.ls.tests.LuckyScratchTest"/>
    </classes>
  </test> <!-- LuckyScratch Transactions Test -->
</suite> <!-- Epay Transactions Suite -->
